<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.foods">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_product"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_product"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foods"
        tools:targetApi="33">
        <activity
            android:name=".ui.account.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.management.user.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.management.user.ShowAllUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.management.category.CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.management.product.ProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.management.user.UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ShowProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>